html {
	background-color: #E5E5E5;
	font-family: sans-serif;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	padding: 1rem;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
	line-height: 1;
}

h2 {
	line-height: 1;
}

a {
	color: snow;
	text-decoration: none;
	display: block;
}

.tag {
	margin: 0.2em;
	padding: 0.5em 1em;
	font-size: 1.2em;
	background-color: #858484;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0em 1em 1em 0em;
}

.postList {
	list-style-type: none;
	padding-left: 0;
}

.nav-links {
	width: 100%;
	overflow: hidden;
	background-color: #858484;
	font-size: 0; /* Removes space between 'a' elements */
}

.nav-link, .nav-drop {
	display: inline-block;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}

/* set a:focus and a:focus:hover to get rid of link staying hover color after clicking and going to new site */
.nav-link:hover, .nav-link:focus:hover, .nav-drop-parent:hover {
	background-color: powderblue;
}

@media screen {
	.nav-links {
		margin-left: 5em;
		display: block;
		position: static;
		width: auto;
	}
	.nav-link, .nav-drop-parent {
		display: inline-block;
		padding: 15px 20px;
	}
}