---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
---

<Layout title="About">
    <main>
        <Header />

        <h1>About</h1>
        <p>
            This is basically a project site for me.  
            It will let me mess around with GitHub Pages, GitHub Actions, Astro, and practice my html/css/javascript skills.  
            I'm planning on setting out a blog section, which I'm hoping to use to improve my writing skills and help with my media literacy.  
            Hopefully writing out my thoughts on games/movies/whatever will give me a better understanding of how and why I feel the way I do when I experience them.  
            It should also hopefully help me break down my thoughts on different aspects of whatever piece I'm considering.
        </p>

        <Footer />
    </main>
</Layout>