---
const { href, platform, username, isStarter } = Astro.props;
const isStarterBool = isStarter === "true"
---

<a href={`${href}${username}`} class={isStarterBool ? "starter" : ""} target="_blank">{platform}</a>

<style>
    /* set a:focus and a:focus:hover to get rid of link staying hover color after clicking and going to new site */
    a, a:focus {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: snow;
    }
    a:hover, a:focus:hover {
        background-color: powderblue;
    }
    @media screen {
        a {
            display: inline-block;
            padding: 15px 20px;
        }
    }
    .starter, .starter:hover, .starter:focus, .starter:focus:hover {
        user-select: none;
        pointer-events: none;
    }
</style>